html{
  background-color:#1F1F1F;
  -webkit-text-fill-color:azure;
  color:azure;
}

.App {
  text-align: center;
  background-color:#1F1F1F;
  -webkit-text-fill-color:azure;
  color:azure;
  font-weight:bolder;
}




.user-logged-in-page{

}

.profileCardHolder{
  background-color: #343a40;
}
.modalx{
   -webkit-text-fill-color:#000;
  color:#000;
}


.modalx button{
   -webkit-text-fill-color:azure;
  color:azure;
}


input{
  -webkit-text-fill-color:#000;
  color:#000;
}


.controlAnyway{
   -webkit-text-fill-color:#000;
  color:#000;
  font-weight:bolder;
  text-shadow:0 0 5px #fff;
  font-size:2rem;
}